body {
  font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e293b;
  position: fixed;
  color: white;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}
